---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

This resource is usually used along with `terraform-provider-prosimo`.



## Example Usage

{{ tffile "examples/resources/private_link_source/main.tf" }}

{{ .SchemaMarkdown | trimspace }}

